body{
    margin: 2vw;
    padding: 0;
    background-color: white;
    color: black;
}
.ajustar
{
    margin: 10vw;
    margin-left: 6vw;
    margin-right: 1200px;
    text-align: left;
    font-size:18px;
}
.ajustar2
{
    margin: 0;
    margin-left: 300px;
}
.map
{
    margin-left:300px;
}